<html>
    <head>
        <title>Blog da Maria</title>
    </head>
    <body>
        <div>
            <h1><a href="http://google.com">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 20.05.2016, 12:50</p>
            <h2><a href="admin">My first post</a></h2>
            <p>Textinho qualquer para ver que funcionou!<p>
        </div>
        <div>
            <p>published: 20.06.2016, 13:32</p>
            <h2><a href="">My second post</a></h2>
            <p>Textinho qualquer para ver que funcionou!<p>
        </div>
    </body>
</html>
